<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Project title
		link(rel="shortcut icon", href="assets/images/favicon.png")
		link(rel="stylesheet", href="assets/css/style.css")
	body.index-page
		.index
			
			h1.index__title Project title
			ul.index__list
				li
					i 01.
					a(href="01-index.html") First page
				li
					i 02.
					span Second page

			.index__side
				.index__desc
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae doloremque dolorem illum, culpa cupiditate quia earum iure voluptate. Sequi, rerum, dolorum. Reiciendis voluptas esse nobis voluptates vero non incidunt, illo!
				ul.index__links
					li
						a(href="#") GitHub Page
					li
						a(href="#") Download
